<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Test harness. Debug builds only. Not exported. Absent from release. -->
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Suas"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
